.logo {
  width: 250px;
  margin: 0 auto 2em;
  display: block;
}

.section--intro {
  background: {
    image: url(../images/hero-bg.jpg);
    size: cover;
    repeat: no-repeat;
  }
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(400px, 650px) minmax(1em, 1fr);
  padding: 10vh 0;
  text-align: center;
  color: $clr-brown-base;

  .logo {
    grid-column: 2 / 3;
    margin-bottom: 2.5em;
  }
}

.intro__text {
  grid-column: 2 / 3;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 1px;
    background: white;
    opacity: .3;
    width: 100px;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
  }
}
