.btn {
  display: inline-block;
  font-family: $ff-title;
  text-transform: uppercase;
  padding: .25em 2em;
  text-decoration: none;
  margin: .5em 0 0;
  border-radius: .4em;
  
  &:hover {
    opacity: .8;
  }

  &--light {
    background: $clr-brown-light;
    color: $clr-blue-dark;
  }

  &--dark {
    background: $clr-blue-dark;
    color: white;
  }

  &--outline {
    border: 2px solid currentColor;
    color: $clr-blue-dark;
  }
}